.hidden {
  display: none;
}

.active {
  display: block;
}

ul {
  list-style-type: upper-roman;
}

.switch {
  cursor: pointer;
  color: purple;
}

.switch_active {
  cursor: pointer;
  color: green;
  text-decoration: underline;
}